<!DOCTYPE html>
<html>
	<head>
		<title>EHR</title>
	</head>
	<body>
		<form action="http://localhost:3001/requestCCDA">
			<input type="text" name="Id" placeholder="ID">
			<input type="text" name="name" placeholder="Name">
			<input type="text" name="country" placeholder="Country">
			<input type="text" name="ssn" placeholder="SSN">
			<input type="text" name="dob" placeholder="Date of birth">
			<input type="submit">
		</form>
	</body>
</html>