  <!doctype <!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="styles.css">
    <script type="text/javascript">
      //auto expand textarea
      function adjust_textarea(h) {
          h.style.height = "20px";
          h.style.height = (h.scrollHeight)+"px";
      }
      </script>
    <style type="text/css">
      .form-style-8
      {
        font-family: 'Open Sans Condensed', arial, sans;
        width : 500px;
        padding: 30px;
        background: #FFFFFF;
        margin: 50px auto;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
        -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
        -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
      
      }
      .form-style-8 h2{
        background: #7bba07;
        text-transform: uppercase;
        font-family: 'Open Sans Condensed', sans-serif;
        color: white;
        font-size: 18px;
        font-weight: 100;
        padding: 20px;
        margin: -30px -30px 30px -30px;
      }
      .form-style-8 input[type="text"],
      .form-style-8 input[type="date"],
      .form-style-8 input[type="datetime"],
      .form-style-8 input[type="email"],
      .form-style-8 input[type="number"],
      .form-style-8 input[type="search"],
      .form-style-8 input[type="time"],
      .form-style-8 input[type="url"],
      .form-style-8 input[type="password"],
      .form-style-8 textarea,
      .form-style-8 select 
      {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        display: block;
        width: 100%;
        padding: 7px;
        border: none;
        border-bottom: 1px solid #ddd;
        background: transparent;
        margin-bottom: 10px;
        font: 16px Arial, Helvetica, sans-serif;
        height: 45px;
      }
      .form-style-8 textarea{
        resize:none;
        overflow: hidden;
      }
      .form-style-8 input[type="button"], 
      .form-style-8 input[type="submit"]{
        -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
        -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
        box-shadow: inset 0px 1px 0px 0px #45D6D6;
        background-color:#7bba07;
        border: 1px ;
        display: inline-block;
        cursor: pointer;
        color: #FFFFFF;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 14px;
        padding: 8px 18px;
        text-decoration: none;
        text-transform: uppercase;
        margin-top: 10px;
      }
      .form-style-8 input[type="button"]:hover, 
      .form-style-8 input[type="submit"]:hover {
        background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
        background-color:#34CACA;
      }
      </style>
  </head>
  <body>
    <div class="form-style-8">
      <h2>Request</h2>
      <form action="http://<%= network_ip %>:<%= network_port %>/api/documents" method="POST" enctype="multipart/form-data" style="margin-bottom:0">
        <input type="file" name="file" required />
        <input type="submit" value="Submit" />
      </form>
    </div>
  
  </body>
  </html>